{% extends "base.html" %}
{% block head %}
    <title>Currency Conversion Calculator</title>
{% endblock %}


    {% block header %}
    <a id="link" href="http://127.0.0.1:5000/display_rates">Go to exchange rates</a>
    {% endblock %}
{% block content %}
    <h2>Currency Conversion Calculator</h2>

    <form method="post" action="/calculator">
        <div class="container">

            <label for="currency"><b>Choose currency:</b></label>
                <select name="currency" id="currency">
                    {% for rate in data[0]['rates'] %}
                        <option id="currency_code" value="{{ rate['code'] }}">{{ rate['code'] }}</option>
                    {% endfor %}
                </select><br>
            <label for="amount"><b>What amount of currency would you like to buy?:</b></label>
            <input type="number" name="amount" id="amount" step="0.01" min="0" required><br>
            <button type="submit" id="calculate-btn">Calculate</button>
            <p><b>{{ message }}</b></p>

        </div>
    </form>
{% endblock %}